h1,
h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}

.remove-tweet,
.remove-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .row {
        display: block;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .row {
        display: block;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .row {
        display: block;
    }
}